# Notebook Start

### Load in Data

In [13]:
import pandas as pd
import numpy as np

In [14]:
# Put Swing Vision data here 
your_file_name = 'Aadarsh Singles OSU 3-18.xlsx - Shots.csv'
swing_data = pd.read_csv(your_file_name)

# Create empty shot_data dataframe
shot_data = swing_data.copy()

In [15]:
# Check existing columns
swing_data.columns

Index(['Player', 'Shot', 'Type', 'Stroke', 'Spin', 'Speed (MPH)', 'Point',
       'Game', 'Set', 'Bounce Depth', 'Bounce Zone', 'Bounce Side',
       'Bounce (x)', 'Bounce (y)', 'Hit Depth', 'Hit Zone', 'Hit Side',
       'Hit (x)', 'Hit (y)', 'Hit (z)', 'Direction', 'Result', 'Favorited',
       'Start Time', 'Video Time'],
      dtype='object')

In [16]:
swing_data.head(10)

,Player,Shot,Type,Stroke,Spin,Speed (MPH),Point,Game,Set,Bounce Depth,...,Hit Zone,Hit Side,Hit (x),Hit (y),Hit (z),Direction,Result,Favorited,Start Time,Video Time
0,Ferguson,1,serve,Serve,Flat,103.576897,1,0,0,no_mans_land,...,deuce,far,-1.210906,24.682688,2.615355,down the T,Out,False,20:59:35,3.430000
1,Aadarsh,2,return,Forehand,Topspin,39.869968,1,0,0,out,...,deuce,near,3.148364,-1.508643,0.389834,cross court,Out,False,20:59:36,4.630000
2,Ferguson,1,serve,Serve,Flat,100.714119,2,0,0,service_box,...,ad,far,0.958761,24.146402,2.197161,out wide,Net,False,20:59:55,23.660000
3,Ferguson,1,serve,Serve,Slice,69.009476,3,0,0,service_box,...,ad,far,0.545229,22.600485,2.588109,down the T,In,False,21:00:04,32.950001
4,Aadarsh,2,return,Forehand,Topspin,66.173218,3,0,0,no_mans_land,...,ad,near,-2.929251,0.478257,1.300041,inside in,In,False,21:00:05,33.910000
5,Ferguson,3,serve_plus_one,Forehand,Topspin,49.600185,3,0,0,no_mans_land,...,deuce,far,-0.945171,24.433613,1.174163,cross court,In,False,21:00:06,34.970001
6,Aadarsh,4,return_plus_one,Forehand,Topspin,46.239532,3,0,0,no_mans_land,...,deuce,near,1.728801,-1.477497,1.032140,down the line,In,False,21:00:08,36.230000
7,Ferguson,5,in_play,Backhand,Topspin,70.694298,3,0,0,no_mans_land,...,ad,far,3.838766,26.318253,1.143115,cross court,In,False,21:00:10,38.070000
8,Aadarsh,6,in_play,Backhand,Slice,45.224854,3,0,0,service_box,...,ad,near,-3.783803,-0.964750,1.108906,cross court,Net,False,21:00:11,39.130001
9,Ferguson,1,serve,Serve,Flat,112.583580,4,0,0,no_mans_land,...,deuce,far,-0.889275,23.803061,2.617624,down the T,Out,False,21:00:33,61.779999

In [17]:
shot_data

,Player,Shot,Type,Stroke,Spin,Speed (MPH),Point,Game,Set,Bounce Depth,...,Hit Zone,Hit Side,Hit (x),Hit (y),Hit (z),Direction,Result,Favorited,Start Time,Video Time
0,Ferguson,1,serve,Serve,Flat,103.576897,1,0,0,no_mans_land,...,deuce,far,-1.210906,24.682688,2.615355,down the T,Out,False,20:59:35,3.430000
1,Aadarsh,2,return,Forehand,Topspin,39.869968,1,0,0,out,...,deuce,near,3.148364,-1.508643,0.389834,cross court,Out,False,20:59:36,4.630000
2,Ferguson,1,serve,Serve,Flat,100.714119,2,0,0,service_box,...,ad,far,0.958761,24.146402,2.197161,out wide,Net,False,20:59:55,23.660000
3,Ferguson,1,serve,Serve,Slice,69.009476,3,0,0,service_box,...,ad,far,0.545229,22.600485,2.588109,down the T,In,False,21:00:04,32.950001
4,Aadarsh,2,return,Forehand,Topspin,66.173218,3,0,0,no_mans_land,...,ad,near,-2.929251,0.478257,1.300041,inside in,In,False,21:00:05,33.910000
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1119,Aadarsh,4,return_plus_one,Forehand,Topspin,62.564976,277,0,0,service_box,...,ad,near,-0.311103,0.457165,1.182633,inside in,In,False,23:13:45,8053.359863
1120,Ferguson,5,in_play,Forehand,Flat,34.434521,277,0,0,no_mans_land,...,deuce,far,-3.321187,27.156084,0.628868,down the line,Out,False,23:13:46,8054.560059
1121,Ferguson,1,serve,Serve,Slice,76.928009,279,0,0,service_box,...,ad,far,1.419398,23.624327,2.357711,out wide,Net,False,23:14:31,8099.620117
1122,Ferguson,1,serve,Serve,Slice,58.761055,280,0,0,service_box,...,ad,far,1.256759,24.639063,2.564788,down the T,In,False,23:14:45,8113.470215
1123,Aadarsh,2,return,Backhand,Topspin,69.222397,280,0,0,service_box,...,ad_alley,near,-4.142146,-0.178784,0.979259,down the line,In,False,23:14:46,8114.370117

In [18]:
shot_data = shot_data.reindex(columns = shot_data.columns.tolist() + ['pointScore', 'gameScore', 'setScore'])
shot_data

,Player,Shot,Type,Stroke,Spin,Speed (MPH),Point,Game,Set,Bounce Depth,...,Hit (y),Hit (z),Direction,Result,Favorited,Start Time,Video Time,pointScore,gameScore,setScore
0,Ferguson,1,serve,Serve,Flat,103.576897,1,0,0,no_mans_land,...,24.682688,2.615355,down the T,Out,False,20:59:35,3.430000,NaN,NaN,NaN
1,Aadarsh,2,return,Forehand,Topspin,39.869968,1,0,0,out,...,-1.508643,0.389834,cross court,Out,False,20:59:36,4.630000,NaN,NaN,NaN
2,Ferguson,1,serve,Serve,Flat,100.714119,2,0,0,service_box,...,24.146402,2.197161,out wide,Net,False,20:59:55,23.660000,NaN,NaN,NaN
3,Ferguson,1,serve,Serve,Slice,69.009476,3,0,0,service_box,...,22.600485,2.588109,down the T,In,False,21:00:04,32.950001,NaN,NaN,NaN
4,Aadarsh,2,return,Forehand,Topspin,66.173218,3,0,0,no_mans_land,...,0.478257,1.300041,inside in,In,False,21:00:05,33.910000,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1119,Aadarsh,4,return_plus_one,Forehand,Topspin,62.564976,277,0,0,service_box,...,0.457165,1.182633,inside in,In,False,23:13:45,8053.359863,NaN,NaN,NaN
1120,Ferguson,5,in_play,Forehand,Flat,34.434521,277,0,0,no_mans_land,...,27.156084,0.628868,down the line,Out,False,23:13:46,8054.560059,NaN,NaN,NaN
1121,Ferguson,1,serve,Serve,Slice,76.928009,279,0,0,service_box,...,23.624327,2.357711,out wide,Net,False,23:14:31,8099.620117,NaN,NaN,NaN
1122,Ferguson,1,serve,Serve,Slice,58.761055,280,0,0,service_box,...,24.639063,2.564788,down the T,In,False,23:14:45,8113.470215,NaN,NaN,NaN
1123,Aadarsh,2,return,Backhand,Topspin,69.222397,280,0,0,service_box,...,-0.178784,0.979259,down the line,In,False,23:14:46,8114.370117,NaN,NaN,NaN